

<div style="font-size:25px;  margin-top:5%;" class="card mb-3 card-header font-weight-bold">
    <div>
        <h1>About Us and Inquries</h1>
    </div>
    <div class="card-body">
        <p>
            Simple Check Systems is a small locally owned and run business in the sprawling city of Denver Colorado.
            We take pride in helping you to manage your business so you can focus on the things that really matter when running a successful business.
        </p>
        <p>Running a business can be difficult, managing everyday tasks through multiple branches, offices, or locations can be daunting. As we say often here "There is no success without organization" so we made organization our business.</p>
    </div>
    <img style="height: 550px; width: 100%; display: block;" src="~/Images/denver.jpg" />
    <div class="card-body">
        <p>
            If you're ready to start saving time, money, and ready to start making daily routine issues a thing of the past then please enter your contact info below and one of our support speacialists will be in contact with you in the next business day.
        </p>
    </div>

</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ready to get started?</h4>
        <h6 class="card-subtitle mb-2 text-muted">Send us your contact info below and we'll get back to you ASAP.</h6>

        <!--Name-->
        <div>
            <label for="InputfName">First name</label>
            <input type="text" class="form-control" id="fName" placeholder="Enter Your First Name">

            <label style="margin-top:2%;" for="InputlName">Last name</label>
            <input type="text" class="form-control" id="lName" placeholder="Enter Your Last Name">
        </div>

        <!--/Name-->
        <!--Email-->
        <div style="margin-top:2%;">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <!--/Email-->
        <!--Phone-->
        <div style="margin-top:2%;">
            <label for="Phone">Business phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Business phone">
        </div>
        <!--/Phone-->
        <!--Comments-->
        <div>
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="inputLarge">Additional Info</label>
                <input class="form-control form-control-lg" type="text" placeholder="Send us anything else you'd like us to know about you here." id="inputLarge">
            </div>
        </div>




    </div>
</div>