    <div style="margin-top:5%;" class="card mb-3">
        <h3 class="card-header">How Simple Check Systems Work</h3>
        <div class="card-body">
            <h5 class="card-title">Our Web Application</h5>
            <h6 class="card-subtitle text-muted">Powerful, Simple, Secure, Effective</h6>
        </div>
        <img style="height: 450px; width: 100%; display: block;" src="~/Images/audit.jpg" alt="Card image"/>
        <div class="card-body">
            <p class="card-text">Step 1: Start with a free consultation to make sure we fit all your needs. No matter the industry we can get you covered.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Step 2: We do the work. We setup your personalized checklists and notification system to keep your business up to standards.</li>
            <li class="list-group-item">Step 3: Train your team. We'll send in one of our Simple Check specialists to show your managers how to run the application.</li>
            <li class="list-group-item">Step 4: Sit back, relax, and profit.</li>
        </ul>
    </div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ready to get started?</h4>
        <h6 class="card-subtitle mb-2 text-muted">Send us your contact info below and we'll get back to you ASAP.</h6>

        <!--Name-->
        <div>
            <label for="InputfName">First name</label>
            <input type="text" class="form-control" id="fName" placeholder="Enter Your First Name">

            <label style="margin-top:2%;" for="InputlName">Last name</label>
            <input type="text" class="form-control" id="lName" placeholder="Enter Your Last Name">
        </div>

        <!--/Name-->
        <!--Email-->
        <div style="margin-top:2%;">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <!--/Email-->

        <!--Phone-->
        <div style="margin-top:2%;">
            <label for="Phone">Business phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Business phone">
        </div>
        <!--/Phone-->

        <!--Comments-->
        <div>
            <div class="form-group">
                <label class="col-form-label col-form-label-lg" for="inputLarge">Additional Info</label>
                <input class="form-control form-control-lg" type="text" placeholder="Send us anything else you'd like us to know about you here." id="inputLarge">
            </div>
        </div>




    </div>
</div>


