@{
    ViewBag.Title = "Home Page";
}
<body>
    <div style="text-align:center; margin-top:10%;";"jumbotron">
        <h1 class="display-3">Simple Check</h1>
        <p class="lead">Making staying in compliance with industry standards simple, easy, and effective.</p>
        <hr class="my-4">
        <p>First time here? Follow our instruction guide in the nav-bar or click below to learn how to use our application. Our simple system makes it easy to track and monitor everyday tasks have have them reported directly to you. Have multiple branches, locations, or offices? No Problem! Our database updates the moment information is logged so you can see when problems arrise before they're even an issue.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="@Url.Action("HowItWorks","Home")" role="button">Learn more</a>
        </p>


        <img style="height:550px; width:1000px; display:inline-block;" src="~/Images/company.jpg" />


    </div>
</body>