<div class="card mb-3" style="margin-top:10%;">
    <!--Login Info-->
    <div>
        <h2>
            Please enter your login info to access the portal.
        </h2>
    </div>
    <!--Email-->
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <!--/Email-->
    <!--Password-->
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <!--/Password-->
    <!--Submit-->
    <button type="submit" class="btn btn-primary">Submit</button>
</div>