
    <div style=" margin-top:5%;" class="card mb-3">
        <h3 class="card-header">Pricing Information</h3>
        <div class="card-body">
        </div>
        <div class="card-body">
            <p class="card-text">When fitting your needs we take the extra step to meet you first. We'll start with a consultation visit to discuss your business, your practices, and make suggestions.</p>
            <p>We want your forms and notices to be 100% personalized so we make sure you're left feeling satisfied knowing your day to day operations are about to get a lot easier.</p>
            <p>
                Please visit our "How it works" page or the "About Us / Contact" page in order to submit your information and one of our support specialists will get back to you within the next business day.
                We appreciate the time you've taken to look us up and we look forward to working with you.
            </p>
        </div>
    </div>
<img style="height: 450px; width: 100%; display: block;" src="~/Images/Handshake.jpg" alt="Card image">



