<div style="margin-top:10%;" class="container card text-center">
    <div class="card-body">
        <h1>Choose your file:</h1>

        <div style="margin-top: 2%;">
            @using (Html.BeginForm("ViewData", "Home", FormMethod.Post))
            {
            <label labelfor="file path">
                Remote CSV:
            </label>

            <input style="width:35%; display:inline;"class="form-control" type="url" name="url" value="https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD" required/>

            <div style="padding-top:1%; display:inline;">
                <input style="margin-left:0.5%;" type="submit" class="btn btn-primary btn-outline-primary" value="Upload File" />
            </div>
            }
        </div>
            
    </div>
</div>