
@{
    ViewBag.Title = "CountData";
}
    <div class="container">
        <h2>Full Data Count:</h2>
        <h3>@ViewBag.response</h3>
        <input type="button" class="btn btn-primary btn-primary" onclick="location.href='@Url.Action("ChooseFile", "Home")'" value="Start Over" />
    </div>

