<div>
    <div style="text-align:center; margin-left:20%; margin-top:10%;" class="container">
        <h1 class="text-primary">Data Miner</h1>
            <div class="card-body">
                <p style="font-size:120%; width: 55%; margin-left: 23%; margin-top: 3%;">Please click "Get Mining" button below in order to choose your file, extract the data, and view it. Options will be provided after parsing to choose your prefered method of download.</p>

                <div style="text-align:center; margin-top:3%;">
                    <input type="button" class="btn btn-primary btn-lg btn-outline-primary hvr-grow" style="font-size:200%;" onclick="location.href='@Url.Action("ChooseFile","Home")'" value="Get Mining">
                </div>
            </div>
    </div>
</div>