<div>
    <div style="text-align:center; margin-left:20%; margin-top:10%; width:55%;"class="card border-primary mb-3">

        <h1>Welcome to the simple data extractor tool.</h1>

        <p style="font-size:120%; width: 55%; margin-left: 23%; margin-top: 3%;">Please hit the "Get started" button below in order to choose your file, extract the data, and view it. Options at the end will be provided to choose your prefered method of download.</p>

        <div style="text-align:center; margin-top:3%;">
            <input type="button" class="btn btn-primary btn-lg btn-primary" style="font-size:200%;" onclick="location.href='@Url.Action("ChooseFile","Home")'" value="Get Started">
        </div>
    </div>
</div>