@using System.Data;

@* Box 1 *@
<div style="padding-left:0.5%; width:35%;" class="card mb-3">
    @using (Html.BeginForm("FilteredDataView", "Home", FormMethod.Post))
    {
        <div style="padding-bottom:1%;">
            <!--Box 1.1-->
            <h2>Filter your data:</h2>
            <label labelfor="file path">
                Remote CSV:
            </label>
            <input type="url" name="url" placeholder="Enter URL" required />

            @* Column Selection *@
            <label style="padding-left:0.5%;" labelfor="file path">
                Column:
            </label>

            <select class="custom-select" name="column" required>
                @foreach (DataColumn col in Model.Columns)
                {
                    <option>@col</option>
                }
            </select>

            @* Operation Selection *@
            <label labelfor="sign">sign:</label>
            <select class="custom-select" name="sign" required>
                <option>=</option>
                <option>></option>
                <option><</option>
                <option>>=</option>
                <option><=</option>
            </select>
        </div>
        <!--/Box 1.1-->



        <!--Box 1.2-->
        <div style="padding-bottom:1%;">
            @*Ref Point*@
            <label labelfor="refPoint">Reference Point:</label>
            <input type="number" name="operand" placeholder="number" required />

            @* Sort option *@
            <label style="padding-left:0.5%;" labelfor="SortOrder">Sort Order:</label>
            <select class="custom-select" name="sortOrder" required>
                <option selected="">ASC</option>
                <option>DESC</option>
            </select>

            <input type="submit" class="btn btn-primary btn-primary" value="Filter" id=submitBox />
            <input type="button" class="btn btn-primary btn-primary" onclick="location.href='@Url.Action("ChooseFile", "Home")'" value="Start Over" />
        </div>
        <!-- /Box 1.2-->

    }
</div>
@* /Box 1 *@


@* Box 2 *@
@* Row count *@
<div style="padding-left:0.5%; padding-bottom:1%; width:35%;" class="card mb-3">
    @using (Html.BeginForm("CountColumnData", "Home", FormMethod.Post))
    {
        <h3>Count Column Data:</h3>
        <label labelfor="file path">
            Remote CSV:
        </label>

        <input type="url" name="url" placeholder="Enter URL" required />

        <label style="padding-left:0.5%;" labelfor="file path">
            Count column entries:
        </label>

        <select class="custom-select" name="column" required>
            @foreach (DataColumn col in Model.Columns)
            {
                <option>@col</option>
            }
        </select>

        <input type="submit" class="btn btn-primary btn-primary" value="Count" />
    }
</div>
@* /Box 2 *@


@* Box 3 *@

<div style="padding-left:0.5%; width:35%;" class="card mb-3">
    @* XML Download *@
    <h3>Download Table Data:</h3>
    @using (Html.BeginForm("DownloadXML", "Home", FormMethod.Post))
    {
        <!--Box 3.1-->
        <div style="padding-bottom:1%;">
            <label labelfor="XML">
                Download Remote CSV as XML:
            </label>

            <input type="url" name="url" placeholder="Enter URL" required />

            <input type="submit" class="btn btn-primary btn-primary" value="Download" />
        </div>
        <!--/Box 3.1-->
    }

    @* JSON Download *@

    @using (Html.BeginForm("DownloadJSON", "Home", FormMethod.Post))
    {
        <!--Box 3.2-->
        <div style="padding-bottom:1%;">
            <label labelfor="JSON">
                Download Remote CSV as JSON:
            </label>

            <input type="url" name="url" placeholder="Enter URL" required />

            <input type="submit" class="btn btn-primary btn-primary" value="Download" />
        </div>
        <!--/Box 3.2-->
    }

    @* RAW DATA Download *@

    @using (Html.BeginForm("DownloadRawData", "Home", FormMethod.Post))
    {
        <!--Box 3.3-->
        <div style="padding-bottom:1%;">
            <label padding-top:0.5%;" labelfor="file path">
                Download Remote CSV raw data:
            </label>

            <input type="url" name="url" placeholder="Enter URL" required />

            <input type="submit" class="btn btn-primary btn-primary" value="Download" />
        </div>
        <!--Box 3.3-->
    }
</div>
@* /Box 3 *@





@* Full Results table *@
<div style="margin-top:1%;">
    <table style="border-style:solid; border-color:black;">
        @{
            if (Model != null)
            {
                <thead style="font-weight:bold;">
                    @for (int i = 0; i < Model.Columns.Count; i++)
                    {
                    <td style="text-align:center;">
                        &nbsp;@Model.Columns[i]
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                }
                    </thead>



                    foreach (DataRow row in Model.Rows)
                    {
                        <tbody>
                            <tr>
                                @foreach (DataColumn col in Model.Columns)
                                {

                                    <td style="text-decoration:underline; text-align:center;">@row[col.ColumnName].ToString()</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                }
                            </tr>
                        </tbody>
                    }
                }
        }
    </table>
</div>





















